.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#darth_vader {
    font-size: 100px;
}

#luke_skywalker {
    font-style: italic;
}

.soldados {
    border: 2px dashed black;
    letter-spacing: 2px;
}

.apoyo {
    text-align: center;
}

.naves {
    text-transform: uppercase;
}

.droides img {
    display: block;
    margin: 0 auto;
}